.aboutContent {
	font-family: "Inconsolata", monospace;
	h1 {
		font-size: 3rem;
		font-weight: bold;
		color: #a41fb9;
		font-family: "Inconsolata", monospace;
	}

	h2 {
		font-size: 2rem;
		margin-top: 40px;
		color: #a41fb9; /* Personalizza il colore */
		font-family: "Inconsolata", monospace;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.8;
		color: #e0e0e0;
	}

	ul {
		list-style-type: disc;
		margin: 20px 0;
		padding-left: 40px;

		li {
			font-size: 1.2rem;
			line-height: 1.8;
			color: #e0e0e0;

			strong {
				color: #a41fb9; /* Personalizza il colore */
			}
		}
	}
}
