.title {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 900;
	margin: 0px 0px 50 0px;
	padding: 50px 0px 50px 00px;
	color: #fff;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-family: "Inconsolata", monospace;
}

// .title:after,
// .title:before {
// 	content: " ";
// 	border-bottom: 1px solid rgba(85, 10, 101, 1);
// 	border-top: 1px solid rgba(85, 10, 101, 1);
// 	height: 10px;
// }

/* Breakpoint per schermi piccoli */
@media (max-width: 1024px) and (orientation: landscape) {
}

@media (max-width: 768px) {
}

/* Breakpoint per schermi extra piccoli */
@media (max-width: 480px) {
}
