.card {
	transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
	box-shadow: 2em 4em 6em -2em rgba(0, 0, 0, 0.5),
		1em 2em 3.5em -2.5em rgba(0, 0, 0, 0.5);
	transition: transform 0.4s ease, box-shadow 0.4s ease;
	border-radius: 0.5em;
	background: #1d1f20;
	background-size: 16px 16px;
	background-position: 50%;
	background-image: linear-gradient(
			90deg,
			rgba(55, 55, 255, 0.4) 1px,
			transparent 0
		),
		linear-gradient(180deg, rgba(55, 55, 255, 0.4) 1px, transparent 0);
	border: 1px solid #2b2b2b;

	&:hover {
		transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
	}

	img {
		width: 500px;
	}
}
