nav {
	// border: solid #38075e;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		160deg,
		rgba(2, 0, 36, 1) 40%,
		rgba(164, 31, 185, 1) 100%
	);
	background-repeat: no-repeat;
	h3 {
		font-family: "Cinzel Decorative", serif;
		font-weight: 600;
		margin: 0;
		padding: 0;
	}
}
