nav {
	border: solid #060730;
	background: rgb(1, 0, 15);
	background: linear-gradient(160deg, rgb(1, 0, 23) 40%, #89109b 100%);
	background-repeat: no-repeat;
	h3 {
		font-family: "Cinzel Decorative", serif;
		font-weight: 600;
		margin: 0;
		padding: 0;
	}
}
