nav {
	border: solid #060730;
	background: rgb(2, 1, 16);
	background: linear-gradient(
		148deg,
		rgba(2, 1, 16, 1) 30%,
		rgba(85, 10, 101, 1) 70%,
		rgba(100, 12, 116, 1) 77%,
		rgba(137, 16, 155, 1) 95%
	);
	background: linear-gradient(160deg, rgb(1, 0, 23) 40%, #89109b 100%);
	background-repeat: no-repeat;
	h3 {
		// font-family: "Helvetica Neue", sans-serif;
		font-family: "Inconsolata", monospace;
		font-size: 3rem;
		font-weight: 900;
		margin: 0;
		padding: 0;
	}
}

.nav-link {
	font-family: "inconsolata", monospace;
	text-decoration: none;
	padding: 0px 15px;
	position: relative;
}

.isActive {
	color: rgba(100, 12, 116, 1);
	font-weight: bold;
	text-decoration: none;
	padding-bottom: 30px;
}

.isActive::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 4px;
	background-color: rgba(100, 12, 116, 1);
	border-radius: 10px;
}

/* CSS */
.button {
	padding: 0.6em 2em;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	text-decoration: none;
	font-weight: bold;
}

.button:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-button-85 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowing-button {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.button:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #222;
	left: 0;
	top: 0;
	border-radius: 10px;
}
