.mainHero {
	height: 100vh;
}

.image {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		height: auto; // Mantiene le proporzioni
		object-fit: cover; // Adatta l'immagine al contenitore
		display: block; /* Rimuove spazi indesiderati */
		width: 100%;
		height: 100%; /* Mantiene le proporzioni */
		filter: drop-shadow(0px 4px 7px #fff);
	}
}

.title {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.mainTitle {
		text-align: center;
		font-size: 4rem;
		font-weight: 900;
		font-family: "Insonsolata", monospace;
		line-height: 4rem;
		font-size: clamp(
			2rem,
			5vw,
			3.6rem
		); // Responsivo per le dimensioni del testo
	}
	.subtitle {
		font-family: "Inconsolata", monospace;
		// font-family: Helvetica, sans-serif
		text-align: start;
		margin-top: 40px;
		border-left: 2px solid #a41fb9;
		padding-left: 20px;
		font-size: 1.2rem;
	}
}

@media (max-width: 1024px) and (orientation: landscape) {
	.wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.image {
		width: 100%; /* L'immagine occupa più spazio su schermi piccoli */
	}

	.title {
		width: 100%; /* Occupare tutto lo spazio disponibile */
		.mainTitle {
			text-align: center;
			font-size: 3.5rem;
			line-height: 4rem;
		}

		.subtitle {
			margin-top: 10px;
			font-size: 1.4rem;
			margin: 20px 0;
			line-height: 1.4rem;
		}
	}
}

/* Breakpoint per schermi piccoli */
@media (max-width: 768px) {
	.wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.image {
		width: 100%; /* L'immagine occupa più spazio su schermi piccoli */
		img {
			object-fit: cover;
			width: 400px;
		}
	}

	.title {
		width: 100%; /* Occupare tutto lo spazio disponibile */
		padding: 10px;
		.mainTitle {
			font-size: 3rem;
			line-height: 2.8rem;
		}

		.subtitle {
			margin-top: 10px;
			font-size: 1.2rem;
			line-height: 1.4rem;
		}
	}
}

/* Breakpoint per schermi extra piccoli */
@media (max-width: 480px) {
	.wrapper {
		width: 100%;
		margin-top: 100px;
	}
	.image {
		width: 100%; /* L'immagine occupa quasi tutto lo schermo */
		img {
			object-fit: cover;
			width: 400px;
		}
	}

	.title {
		width: 100%; /* Occupare tutto lo spazio disponibile */
		text-align: center;
		.mainTitle {
			font-size: 2.3rem;
			text-align: center !important;
		}

		.subtitle {
			font-size: 1rem;
			margin: 20px 0;
			line-height: 1.2rem;
		}
	}
}
