.image {
	width: 45%;
	img {
		border-radius: 10px;
		display: block; /* Rimuove spazi indesiderati */
		width: 100%;
		height: auto; /* Mantiene le proporzioni */
		object-fit: cover;
		filter: drop-shadow(0px 4px 7px #fff);
	}
}

.title {
	width: 55%;
	.mainTitle {
		text-align: center;
		font-size: 4.3rem;
		font-weight: 900;
		font-family: "Insonsolata", monospace;
		line-height: 4rem;
		word-wrap: break-word; /* Per compatibilità con vecchi browser */
		overflow-wrap: break-word; /* Metodo moderno per forzare il ritorno a capo */
		word-break: keep-all; /* Impedisce la divisione delle parole */
	}
	.subtitle {
		font-family: "Inconsolata", monospace;
		// font-family: Helvetica, sans-serif
		margin-top: 40px;
		border-left: 2px solid #a41fb9;
		padding-left: 20px;
		font-size: 1.2rem;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		display: flex;
		flex-direction: column;
	}

	.image {
		width: 100%; /* L'immagine occupa più spazio su schermi piccoli */
	}

	.title {
		width: 100%; /* Occupare tutto lo spazio disponibile */
		.mainTitle {
			text-align: center;
			font-size: 3.5rem;
			line-height: 4rem;
			word-wrap: break-word; /* Per compatibilità con vecchi browser */
			overflow-wrap: break-word; /* Metodo moderno per forzare il ritorno a capo */
			word-break: keep-all; /* Impedisce la divisione delle parole */
		}

		.subtitle {
			margin-top: 10px;
			font-size: 1.4rem;
			margin: 20px 0;
			line-height: 1.4rem;
		}
	}
}

/* Breakpoint per schermi piccoli */
@media (max-width: 768px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 150px;
	}

	.image {
		width: 100%; /* L'immagine occupa più spazio su schermi piccoli */
	}

	.title {
		width: 100%; /* Occupare tutto lo spazio disponibile */
		padding: 10px;
		.mainTitle {
			font-size: 3rem;
			line-height: 2.2rem;
			word-wrap: break-word; /* Per compatibilità con vecchi browser */
			overflow-wrap: break-word; /* Metodo moderno per forzare il ritorno a capo */
			word-break: keep-all; /* Impedisce la divisione delle parole */
		}

		.subtitle {
			margin-top: 10px;
			font-size: 1.2rem;
			line-height: 1.4rem;
		}
	}
}

/* Breakpoint per schermi extra piccoli */
@media (max-width: 480px) {
	.image {
		width: 100%; /* L'immagine occupa quasi tutto lo schermo */
	}

	.title {
		width: 100%; /* Occupare tutto lo spazio disponibile */
		text-align: center;
		.mainTitle {
			font-size: 2.31rem;
			text-align: center !important;
			word-wrap: break-word; /* Per compatibilità con vecchi browser */
			overflow-wrap: break-word; /* Metodo moderno per forzare il ritorno a capo */
			word-break: keep-all; /* Impedisce la divisione delle parole */
		}

		.subtitle {
			font-size: 1rem;
			margin: 20px 0;
			line-height: 1.2rem;
		}
	}
}
