@import url("https://fonts.googleapis.com/css?family=Maven+Pro:500,700&display=swap");

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.pagination {
	display: flex;
	align-items: center;
	gap: 20px; /* Spazio tra i pulsanti e il contatore */
}

button {
	border: none;
	margin: 0;
	padding: 0;
	font-family: "Maven Pro", sans-serif;
	font-size: 2rem !important;
	font-weight: 700;
	cursor: pointer;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px #313131;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		133deg,
		#fc00ff 0%,
		#fc00ff 50%,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 255, 255, 1) 100%
	);
	background-size: 300%;
	background-position: 100% 0;
	transition: background-position 0.5s ease-in, font-size 0.2s ease-in;
}

button.disabled {
	-webkit-text-stroke: 0.7px #bebebe;
	background: none;
	cursor: default;
}

button:hover {
	background-position: 0 0;
}

.paginationState {
	display: flex;
	align-items: center;
	gap: 5px;
}

.counterCurrent,
.counterTotal {
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff; /* Mantieni il colore del testo */
}

.paginationSeparator {
	font-size: 1.2rem;
	color: #fff; /* Mantieni il colore del testo */
}

.transition-next {
	animation: slide-next 0.3s forwards;
}

.transition-prev {
	animation: slide-prev 0.3s forwards;
}

@keyframes slide-next {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slide-prev {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
