.mySwiper {
	margin: 5rem 0 13rem 0;
}

.swiper {
	width: 100%;
	height: auto;
	padding: 10px 0px;
	border-top: 1px solid rebeccapurple;
	border-bottom: 1px solid rebeccapurple;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		object-fit: cover;
		width: 130px;
		height: 130px;
	}
}

@media (max-width: 1024px) {
	.mySwiper {
		margin: 5rem 0 2rem 0;
	}
	.logo {
		img {
			width: 130px;
			height: auto;
		}
	}
}

@media (max-width: 768px) {
	.mySwiper {
		margin: 5rem 0 13rem 0;
	}
	.logo {
		img {
			width: 100px;
			height: auto;
		}
	}
}

@media (max-width: 480px) {
	.mySwiper {
		margin: 5rem 0 20rem 0;
	}

	.logo {
		img {
			width: 80px;
			height: auto;
		}
	}
}
